#![enable(implicit_some)]
(
    items: [
        (
            Table,
            (
                anchor: (0, 0),
                alignment: (0, 0),
            ),
        ),
        (
            Monitor,
            (
                anchor: (655, 480),
            ),
        ),
    ],
)
