#![enable(implicit_some)]
(
    items: [
        (
            ButtonStation,
            (
                anchor: (1320, 950),
                alignment: (1, 1),
            ),
        ),
        (
            Bfb,
            (
                anchor: (1560, 400),
            ),
        ),
        (
            ButtonSalad,
            (
                anchor: (770, 800),
            ),
        ),
        (
            ButtonYellow,
            (
                anchor: (960, 800),
            ),
        ),
        (
            ButtonGreen,
            (
                anchor: (1150, 800),
            ),
        ),
        (
            ButtonPink,
            (
                anchor: (770, 630),
            )
        ),
        (
            ButtonBlue,
            (
                anchor: (960, 630),
            )
        ),
        (
            ButtonWhite,
            (
                anchor: (1150, 630),
            )
        ),
        (
            ButtonPurple,
            (
                anchor: (770, 460),
            )
        ),
        (
            ButtonOrange,
            (
                anchor: (960, 460),
            )
        ),
        (
            ButtonCyan,
            (
                anchor: (1150, 460),
            )
        ),
    ],
)
